.video-wrapper {
  background-size: cover;

  height: 0;
  padding-bottom: 54%;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
  border: #392a5b 10px solid;
  border-radius: 12px;

  background: #100a35;
  align-self: center;
  margin-top: 2em;
}

.video {
  height: auto;

  max-width: 100%;
  margin: 20px auto 0px auto;
}

video {
  width: 100%;

  border-radius: 2px;
}

.video::after {
  display: block;
  content: "";
  clear: both;
}

.promo-text {
  margin-top: 14px;
  margin-left: -20px;
  margin-bottom: 0px;
  transform: rotate(-2deg);
  color: white;
}

.promo-text svg {
  vertical-align: middle;
  margin: -5px 10px 0 0;
}

@media (max-width: 606px) {
  .video-wrapper {
    /* padding: 0px 10px 20px 10px; */
    margin-top: 0;
  }
}

@media (max-width: 900px) {
  .video-wrapper {
    /* padding: 0px 10px 20px 10px; */
    margin-top: 2em;
  }
}
